language: php

php:
  - 5.4
  - 5.3

before_script:
 - composer self-update
 - composer install --prefer-source --dev
 
script:
  - mkdir -p build/logs
  - vendor/bin/phpunit --coverage-clover ./build/logs/clover.xml

after_script:
  - php vendor/bin/coveralls -v
