<?php
return array(
    'strokercache' => array(
        'strategies' => array(
            'enabled' => array(
                'StrokerCache\Strategy\RouteName' => array(
                    'routes' => array(
                        'home',
                        'someroute' => array(
                            'params' => array(
                                'foo' => 'bar'
                            )
                        )
                    ),
                ),
                /*'StrokerCache\Strategy\ControllerName' => array(
                    'controllers' => array(
                    )
                ),
                'StrokerCache\Strategy\Url' => array(
                    'regexpes' => array(
                    )
                )*/
            ),
        )
    )
);