<?php
return array(
    'strokercache' => array(
        'strategies' => array(
            'enabled' => array(
                'StrokerCache\Strategy\Route' => array(
                    'routes' => array(
                        'home',
                        'someroute' => array(
                            'params' => array(
                                'foo' => 'bar'
                            )
                        )
                    ),
                ),
                /*
                'StrokerCache\Strategy\Controller' => array(
                    'controllers' => array(
                    )
                ),
                'StrokerCache\Strategy\UriPath' => array(
                    'regexpes' => array(
                    )
                )
                'StrokerCache\Strategy\CacheAllExcept' => array(
                    'except' => array(
                        'namespaces' => array(
                            'Application\Controller\Example1',
                            'Application\Controller\Example2',
                        ),
                        'controllers' => array(
                            'Application\Controller\Example1\Index',
                            'Application\Controller\Example2\Contact',
                        ),
                        'actions' => array(
                            'Application\Controller\Example1\Index' => array(
                                'bar',
                                'foo',
                            ),
                        ),

                    ),
                ),
                */
            ),
        ),
    ),
);
